.listItem__container {
    height: 140px;
    padding: 10px;
    display: flex;
    border-bottom: 2px solid #f2f2f2;
    position: relative;
}
.listItem__container__pic {
    width: 140px;
    height: 140px;
}
.listItem__container__pic img {
    width: 140px;
    height: 140px;
}
.listItem__container__desc {
    flex: 1;
    padding: 0 10px;
}
.listItem__container__desc_title {
    height: 35px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis; 
    margin-bottom: 5px;
}
.title-tags {
    background-color: #f04600;
    padding: 0 2px;
    display: inline;
    margin-right: 5px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
}
.listItem__container__desc_tradeDescription {
    background-color: #fff8e4;
    border: 2px solid #f1eab7;
    font-size: 10px;
    padding: 0 2px;
    border-radius: 5px;
}
.listItem__container__desc_numOfPerson {
    color: #888;
    font-size: 10px;
    margin-top: 5px;
}
.listItem__container__desc_price {
    color: #e30006;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}
.listItem__container__desc_buttom {
    position: absolute;
    bottom: 10px;
    right: 15px;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    background-color: #fed101;
    color: #000;
    line-height: 30px;
    text-align: center;
}